<p>
<% if current_user %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <%= link_to 'Chenge ur password', edit_registration_path( :user ) %>
<% else %>
  <%= debugger link_to 'Registration', new_registration_path( :user ) %>
  <%= link_to 'Login', new_session_path( :user ) %>
<% end %>
</p>
<p>
Hola! It's <%= Time.now %>
</p>
<%= link_to 'Hello!', welcome_say_hello_path %>
<%= link_to 'Events', events_path %>
</p>
