<ul>
<% @events.each do |event| %>
	<span>
 	  <%= event.name %>
  <%= link_to '详情', event_path( event ) %>
  <%= link_to '编辑', edit_event_path( event ) %>
	<%= button_to '删除', event_path( event ),  method: :delete, data:{ confirm: "确定删除？" } %> <!-- I dont understand why the links and button cant be in the same line -->
	</span>
<% end %>
<br />
<br />
<%= paginate @events %>
</ul>
<%= link_to '新建 Event', new_event_path %>
